.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  max-width: 400px;
}

.bottom-section {
  padding: 20px;
  height: 60vh;
}
