<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav
    #sidenav
    mode="side"
    [ngClass]="{ 'collapsed': isCollapsed }"
    [opened]="true"
  >
    <mat-toolbar>
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{ isCollapsed ? 'menu_open' : 'menu' }}</mat-icon>
      </button>
      <p *ngIf="!isCollapsed" style="font-size: 16px; margin-left: 10px;">KeepingMaintenance</p>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/menu" routerLinkActive="active-link">
        <mat-icon>home</mat-icon>
        <span *ngIf="!isCollapsed">Menu</span>
      </a>
      <a mat-list-item routerLink="/maintenance" routerLinkActive="active-link">
        <mat-icon>build</mat-icon>
        <span *ngIf="!isCollapsed">Maintenance</span>
      </a>
      <a mat-list-item routerLink="/test" routerLinkActive="active-link">
        <mat-icon>check_circle</mat-icon>
        <span *ngIf="!isCollapsed">Test</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content [ngClass]="{ 'content-collapsed': isCollapsed }">
    <div class="content">
      <router-outlet></router-outlet> <!-- Aqui a navegação entre páginas será carregada -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
