<div class="content-title">
  <div class="content-wrapper">
    <h2>Editar Manutenção</h2>
  </div>
  <button mat-icon-button mat-dialog-close class="close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-stepper [linear]="true">
  <mat-step [stepControl]="maintenanceFormGroup" label="Informações da Manutenção">
    <form [formGroup]="maintenanceFormGroup">
      <mat-form-field>
        <mat-label>Nome Manutenção</mat-label>
        <input matInput formControlName="name" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="deviceFormGroup" label="Informações do Dispositivo">
    <form [formGroup]="deviceFormGroup">
      <mat-form-field>
        <mat-label>Nome do Dispositivo</mat-label>
        <input matInput formControlName="deviceName" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="deviceDescription" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipo de Dispositivo</mat-label>
        <mat-select formControlName="deviceType" required>
          <mat-option *ngFor="let deviceType of deviceTypes" [value]="deviceType.id">{{deviceType.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext (click)="onSubmit()" [disabled]="deviceFormGroup.invalid">Salvar</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
