
<h2>Criar Manutenção</h2>
<mat-stepper>
  <mat-step [stepControl]="maintenanceFormGroup" label="Informações da Manutenção">
    <form [formGroup]="maintenanceFormGroup">
      <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" placeholder="Ex.: Manutenção Preventiva" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description" placeholder="Ex.: Troca de peças desgastadas" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          @for (status of statuses; track status) {
            <mat-option [value]="status.id">{{status.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Próximo</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="deviceFormGroup" label="Informações do Dispositivo">
    <form [formGroup]="deviceFormGroup">
      <mat-form-field>
        <mat-label>Nome do Dispositivo</mat-label>
        <input matInput formControlName="deviceName" placeholder="Ex.: Dispositivo XYZ" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="deviceDescription" placeholder="Ex.: Descrição do dispositivo" required></textarea>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Tipo de Dispositivo</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="food">
          @for (devices of deviceTypes; track devices) {
            <mat-option [value]="devices.id">{{devices.name}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Voltar</button>
        <button mat-button matStepperNext [disabled]="deviceFormGroup.invalid">Finalizar</button>
      </div>
    </form>
  </mat-step>
</mat-stepper>
